@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
}

html {
    scroll-behavior: smooth;
    /* scroll-padding-top: 120px; */
}

:root {
    --color1: #E7A657;
    --color2: #DC9B4D;
    --color3: #91582E;
    --color4: #553418;

    --idk1: rgb(252, 232, 167);

    --memList-color: rgb(255, 233, 206);

    --mainBG-color: rgb(255, 250, 241);
}

body {
    padding: 36px;
}

.main-container {    
    background-color: rgb(243, 246, 255);
    padding: 36px;
    display: flex;
    justify-content: space-evenly;
    column-gap: 36px;
}

.panel {
    background-color: rgb(223, 234, 255);
    flex: 1;
    padding: 24px;
    display: flex;
    row-gap: 24px;
    flex-direction: column;
    /* justify-content: center; */
}

.sub-container {
    background-color: rgb(21, 51, 80);
    padding: 24px;
    color: white;
    margin: auto;
    max-width: 400px;
    min-width: 320px;
    word-wrap: break-word;
    /* width: 320px; */
    min-height: 240px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.sub-container > * {
    margin: 12px 0;
    /* background-color: slategrey; */
}

/* .sub-container:nth-child(2n) {
    margin: 24px 0;
    line-height: 32px;
    background-color: rgb(170, 141, 248);
} */
